In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('clean_data.csv')

In [5]:
df

,Unnamed: 0,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,...,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat
0,0,0,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,...,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,90s,Others,Others
1,1,0,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,...,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others
2,2,0,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,...,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,00s,world vision,Others
3,3,1,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,...,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef
4,4,0,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,...,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,59395,0,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,...,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,90s,Others,Germany Republi
59396,59396,0,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,...,gravity,vwc,pay annually,soft,enough,river,communal standpipe,90s,Others,Others
59397,59397,0,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,...,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown
59398,59398,0,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,...,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,0,Others,Others
59399,59399,0,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,...,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,00s,Others,World Bank

In [10]:
df=df.drop(columns='Unnamed: 0')

In [14]:
df

,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,...,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat
0,0,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,...,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,90s,Others,Others
1,0,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,...,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others
2,0,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,...,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,00s,world vision,Others
3,1,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,...,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef
4,0,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,...,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,0,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,Hai,...,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,90s,Others,Germany Republi
59396,0,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,Njombe,...,gravity,vwc,pay annually,soft,enough,river,communal standpipe,90s,Others,Others
59397,0,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,Mbarali,...,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown
59398,0,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,Chamwino,...,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,0,Others,Others
59399,0,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,Morogoro Rural,...,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,00s,Others,World Bank

In [15]:
df1=pd.read_csv('cleaned.csv')

In [17]:
df1=df1.drop(columns='Unnamed: 0')

In [18]:
df1

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type,functional,functional needs repair,non functional
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,1,0,0
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,1,0,0
2,34310,functional,25.0,2013-02-25,Lottery Club,686,world vision,37.460664,-3.821329,Kwa Mahundi,...,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,1,0,0
3,67743,non functional,0.0,2013-01-28,Unicef,263,Unicef,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,0,0,1
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,1,0,0
59396,27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,gravity,vwc,pay annually,soft,enough,river,communal standpipe,1,0,0
59397,37057,functional,0.0,2011-04-11,Unknown,0,Unknown,34.017087,-8.750434,Mashine,...,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,1,0,0
59398,31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,1,0,0
59399,26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,1,0,0

In [25]:
df.funder_cat.nunique()

21

In [26]:
df.installer_cat.nunique()

17

In [31]:
df['status_code']= np.where(df1["status_group"]=="non functional", 0, 1)
df['status_code']

0        1
1        1
2        1
3        0
4        1
        ..
59395    1
59396    1
59397    1
59398    1
59399    1
Name: status_code, Length: 59400, dtype: int32

In [32]:
df

,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,...,management,payment,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat,status_code
0,0,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,...,vwc,pay annually,soft,enough,spring,communal standpipe,90s,Others,Others,1
1,0,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,...,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others,1
2,0,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,...,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,00s,world vision,Others,1
3,1,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,...,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef,0
4,0,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,...,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,0,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,Hai,...,water board,pay per bucket,soft,enough,spring,communal standpipe,90s,Others,Germany Republi,1
59396,0,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,Njombe,...,vwc,pay annually,soft,enough,river,communal standpipe,90s,Others,Others,1
59397,0,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,Mbarali,...,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown,1
59398,0,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,Chamwino,...,vwc,never pay,soft,insufficient,shallow well,hand pump,0,Others,Others,1
59399,0,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,Morogoro Rural,...,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,00s,Others,World Bank,1

In [33]:
df['status_group']=df1.status_group
df

,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,...,management,payment,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat,status_code
0,functional,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,...,vwc,pay annually,soft,enough,spring,communal standpipe,90s,Others,Others,1
1,functional,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,...,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others,1
2,functional,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,...,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,00s,world vision,Others,1
3,non functional,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,...,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef,0
4,functional,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,...,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,functional,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,Hai,...,water board,pay per bucket,soft,enough,spring,communal standpipe,90s,Others,Germany Republi,1
59396,functional,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,Njombe,...,vwc,pay annually,soft,enough,river,communal standpipe,90s,Others,Others,1
59397,functional,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,Mbarali,...,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown,1
59398,functional,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,Chamwino,...,vwc,never pay,soft,insufficient,shallow well,hand pump,0,Others,Others,1
59399,functional,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,Morogoro Rural,...,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,00s,Others,World Bank,1

In [34]:
df["payment_value"] = np.where(df["payment"]=="never pay", 0, 1)
df

,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,...,payment,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat,status_code,payment_value
0,functional,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,...,pay annually,soft,enough,spring,communal standpipe,90s,Others,Others,1,1
1,functional,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,...,never pay,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others,1,0
2,functional,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,...,pay per bucket,soft,enough,dam,communal standpipe multiple,00s,world vision,Others,1,1
3,non functional,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,...,never pay,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef,0,0
4,functional,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,...,never pay,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,functional,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,Hai,...,pay per bucket,soft,enough,spring,communal standpipe,90s,Others,Germany Republi,1,1
59396,functional,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,Njombe,...,pay annually,soft,enough,river,communal standpipe,90s,Others,Others,1,1
59397,functional,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,Mbarali,...,pay monthly,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown,1,1
59398,functional,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,Chamwino,...,never pay,soft,insufficient,shallow well,hand pump,0,Others,Others,1,0
59399,functional,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,Morogoro Rural,...,pay when scheme fails,salty,enough,shallow well,hand pump,00s,Others,World Bank,1,1

In [36]:
df.district_code.value_counts()

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [37]:
df1.region_code.value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [39]:
df['region_code']=df1.region_code
df

,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,...,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat,status_code,payment_value,region_code
0,functional,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,...,soft,enough,spring,communal standpipe,90s,Others,Others,1,1,11
1,functional,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,...,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others,1,0,20
2,functional,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,...,soft,enough,dam,communal standpipe multiple,00s,world vision,Others,1,1,21
3,non functional,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,...,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef,0,0,90
4,functional,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,...,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others,1,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,functional,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,Hai,...,soft,enough,spring,communal standpipe,90s,Others,Germany Republi,1,1,3
59396,functional,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,Njombe,...,soft,enough,river,communal standpipe,90s,Others,Others,1,1,11
59397,functional,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,Mbarali,...,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown,1,1,12
59398,functional,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,Chamwino,...,soft,insufficient,shallow well,hand pump,0,Others,Others,1,0,1
59399,functional,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,Morogoro Rural,...,salty,enough,shallow well,hand pump,00s,Others,World Bank,1,1,5

In [40]:
df.nunique()

status_group                 3
funder                    1896
gps_height                2428
installer                 2053
longitude                57516
latitude                 57517
basin                        9
region                      21
district_code               20
lga                        125
ward                      2092
population                1048
public_meeting               2
permit                       2
construction_year           54
extraction_type_group       13
management                  12
payment                      7
water_quality                8
quantity                     5
source                      10
waterpoint_type              7
decade                       7
installer_cat               17
funder_cat                  21
status_code                  2
payment_value                2
region_code                 27
dtype: int64

In [45]:
df

,status_group,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,...,water_quality,quantity,source,waterpoint_type,decade,installer_cat,funder_cat,status_code,payment_value,region_code
0,functional,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,...,soft,enough,spring,communal standpipe,90s,Others,Others,1,1,11
1,functional,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,...,soft,insufficient,rainwater harvesting,communal standpipe,10s,Others,Others,1,0,20
2,functional,Lottery Club,686,world vision,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,...,soft,enough,dam,communal standpipe multiple,00s,world vision,Others,1,1,21
3,non functional,Unicef,263,Unicef,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,...,soft,dry,machine dbh,communal standpipe multiple,80s,Others,Unicef,0,0,90
4,functional,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,...,soft,seasonal,rainwater harvesting,communal standpipe,0,Others,Others,1,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,functional,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,Kilimanjaro,5,Hai,...,soft,enough,spring,communal standpipe,90s,Others,Germany Republi,1,1,3
59396,functional,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,Iringa,4,Njombe,...,soft,enough,river,communal standpipe,90s,Others,Others,1,1,11
59397,functional,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,Mbeya,7,Mbarali,...,fluoride,enough,machine dbh,hand pump,0,Unknown,Unknown,1,1,12
59398,functional,Malec,0,Musa,35.861315,-6.378573,Rufiji,Dodoma,4,Chamwino,...,soft,insufficient,shallow well,hand pump,0,Others,Others,1,0,1
59399,functional,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,Morogoro,2,Morogoro Rural,...,salty,enough,shallow well,hand pump,00s,Others,World Bank,1,1,5

In [46]:
df1

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type,functional,functional needs repair,non functional
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,1,0,0
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,1,0,0
2,34310,functional,25.0,2013-02-25,Lottery Club,686,world vision,37.460664,-3.821329,Kwa Mahundi,...,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,1,0,0
3,67743,non functional,0.0,2013-01-28,Unicef,263,Unicef,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,0,0,1
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,1,0,0
59396,27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,gravity,vwc,pay annually,soft,enough,river,communal standpipe,1,0,0
59397,37057,functional,0.0,2011-04-11,Unknown,0,Unknown,34.017087,-8.750434,Mashine,...,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,1,0,0
59398,31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,1,0,0
59399,26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,1,0,0

In [53]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [54]:
df['region_number']=lb.fit_transform(df['region'])
df[['region','region_number']]

            region  region_number
0           Iringa              3
1             Mara              9
2          Manyara              8
3           Mtwara             12
4           Kagera              4
...            ...            ...
59395  Kilimanjaro              6
59396       Iringa              3
59397        Mbeya             10
59398       Dodoma              2
59399     Morogoro             11

[59400 rows x 2 columns]

In [57]:
df=df.drop(columns='region_code')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 28 columns):
status_group             59400 non-null object
funder                   59400 non-null object
gps_height               59400 non-null int64
installer                59400 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
basin                    59400 non-null object
region                   59400 non-null object
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           59400 non-null bool
permit                   59400 non-null bool
construction_year        59400 non-null int64
extraction_type_group    59400 non-null object
management               59400 non-null object
payment                  59400 non-null object
water_quality            59400 non-null object
quantity                 59400 non-null object
source                   59400 non-null object
waterpoint_type          59400 non-null object
decade                   59400 non-null object
installer_cat            59400 non-null object
funder_cat               59400 non-null object
status_code              59400 non-null int32
payment_value            59400 non-null int32
region_number            59400 non-null int32
dtypes: bool(2), float64(2), int32(3), int64(4), object(17)
memory usage: 11.2+ MB

In [62]:
df.nunique()

status_group                 3
funder                    1896
gps_height                2428
installer                 2053
longitude                57516
latitude                 57517
basin                        9
region                      21
district_code               20
lga                        125
ward                      2092
population                1048
public_meeting               2
permit                       2
construction_year           54
extraction_type_group       13
management                  12
payment                      7
water_quality                8
quantity                     5
source                      10
waterpoint_type              7
decade                       7
installer_cat               17
funder_cat                  21
status_code                  2
payment_value                2
region_number               21
dtype: int64

In [65]:
df['funder_code']=lb.fit_transform(df["funder_cat"])
df[["funder", "funder_code"]]

                funder  funder_code
0                Roman           11
1              Grumeti           11
2         Lottery Club           11
3               Unicef           16
4          Action In A           11
...                ...          ...
59395  Germany Republi            5
59396      Cefa-njombe           11
59397          Unknown           17
59398            Malec           11
59399       World Bank           19

[59400 rows x 2 columns]

In [66]:
df['funder_code'].value_counts()

11    26451
6      9084
17     4416
0      3114
7      2202
13     1374
19     1349
8      1287
20     1246
16     1057
14      877
2       843
1       829
12      826
4       811
10      765
5       610
15      602
9       590
18      583
3       484
Name: funder_code, dtype: int64

In [68]:
df['installer_code']=lb.fit_transform(df["installer_cat"])
df[["installer_cat", "installer_code"]]

      installer_cat  installer_code
0            Others              10
1            Others              10
2      world vision              16
3            Others              10
4            Others              10
...             ...             ...
59395        Others              10
59396        Others              10
59397       Unknown              14
59398        Others              10
59399        Others              10

[59400 rows x 2 columns]

In [69]:
df['basin_code']=lb.fit_transform(df["basin"])
df[["basin", "basin_code"]]

                         basin  basin_code
0                   Lake Nyasa           1
1                Lake Victoria           4
2                      Pangani           5
3      Ruvuma / Southern Coast           7
4                Lake Victoria           4
...                        ...         ...
59395                  Pangani           5
59396                   Rufiji           6
59397                   Rufiji           6
59398                   Rufiji           6
59399              Wami / Ruvu           8

[59400 rows x 2 columns]

In [77]:
df.nunique()

status_group                 3
funder                    1896
gps_height                2428
installer                 2053
longitude                57516
latitude                 57517
basin                        9
region                      21
district_code               20
lga                        125
ward                      2092
population                1048
public_meeting               2
permit                       2
construction_year           54
extraction_type_group       13
management                  12
payment                      7
water_quality                8
quantity                     5
source                      10
waterpoint_type              7
decade                       7
installer_cat               17
funder_cat                  21
status_code                  2
payment_value                2
region_number               21
funder_code                 21
installer_code              17
basin_code                   9
dtype: int64

In [82]:
df['extraction_code']=lb.fit_transform(df["extraction_type_group"])
df[["extraction_type_group", "extraction_code"]]

      extraction_type_group  extraction_code
0                   gravity                1
1                   gravity                1
2                   gravity                1
3               submersible               10
4                   gravity                1
...                     ...              ...
59395               gravity                1
59396               gravity                1
59397                swn 80               11
59398           nira/tanira                5
59399           nira/tanira                5

[59400 rows x 2 columns]

In [83]:
df['management_code']=lb.fit_transform(df["management"])
df[["management", "management_code"]]

        management  management_code
0              vwc                7
1              wug               11
2              vwc                7
3              vwc                7
4            other                1
...            ...              ...
59395  water board                9
59396          vwc                7
59397          vwc                7
59398          vwc                7
59399          vwc                7

[59400 rows x 2 columns]

In [84]:
df['quality_code']=lb.fit_transform(df["water_quality"])
df[["water_quality", "quality_code"]]

      water_quality  quality_code
0              soft             6
1              soft             6
2              soft             6
3              soft             6
4              soft             6
...             ...           ...
59395          soft             6
59396          soft             6
59397      fluoride             1
59398          soft             6
59399         salty             4

[59400 rows x 2 columns]

In [89]:
df['quantity_code']=lb.fit_transform(df["quantity"])
df[["quantity", "quantity_code"]]

           quantity  quantity_code
0            enough              1
1      insufficient              2
2            enough              1
3               dry              0
4          seasonal              3
...             ...            ...
59395        enough              1
59396        enough              1
59397        enough              1
59398  insufficient              2
59399        enough              1

[59400 rows x 2 columns]

In [91]:
df['source_code']=lb.fit_transform(df["source"])
df[["source", "source_code"]]

                     source  source_code
0                    spring            8
1      rainwater harvesting            5
2                       dam            0
3               machine dbh            3
4      rainwater harvesting            5
...                     ...          ...
59395                spring            8
59396                 river            6
59397           machine dbh            3
59398          shallow well            7
59399          shallow well            7

[59400 rows x 2 columns]

In [92]:
df['waterpoint_code']=lb.fit_transform(df["waterpoint_type"])
df[["waterpoint_type", "waterpoint_code"]]

                   waterpoint_type  waterpoint_code
0               communal standpipe                1
1               communal standpipe                1
2      communal standpipe multiple                2
3      communal standpipe multiple                2
4               communal standpipe                1
...                            ...              ...
59395           communal standpipe                1
59396           communal standpipe                1
59397                    hand pump                4
59398                    hand pump                4
59399                    hand pump                4

[59400 rows x 2 columns]

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 37 columns):
status_group             59400 non-null object
funder                   59400 non-null object
gps_height               59400 non-null int64
installer                59400 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
basin                    59400 non-null object
region                   59400 non-null object
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           59400 non-null bool
permit                   59400 non-null bool
construction_year        59400 non-null int64
extraction_type_group    59400 non-null object
management               59400 non-null object
payment                  59400 non-null object
water_quality            59400 non-null object
quantity                 59400 non-null object
source                   59400 non-null object
waterpoint_type          59400 non-null object
decade                   59400 non-null object
installer_cat            59400 non-null object
funder_cat               59400 non-null object
status_code              59400 non-null int32
payment_value            59400 non-null int32
region_number            59400 non-null int32
funder_code              59400 non-null int32
installer_code           59400 non-null int32
basin_code               59400 non-null int32
extraction_code          59400 non-null int32
management_code          59400 non-null int32
quality_code             59400 non-null int32
quantity_code            59400 non-null int32
source_code              59400 non-null int32
waterpoint_code          59400 non-null int32
dtypes: bool(2), float64(2), int32(12), int64(4), object(17)
memory usage: 13.3+ MB

In [98]:
df_train=df.drop(columns=['status_group','funder','installer','basin','region','district_code','lga','ward',
                          'extraction_type_group','management','payment','water_quality','quantity','source',
                         'waterpoint_type','decade','installer_cat','funder_cat'])
df_train.head()

,gps_height,longitude,latitude,population,public_meeting,permit,construction_year,status_code,payment_value,region_number,funder_code,installer_code,basin_code,extraction_code,management_code,quality_code,quantity_code,source_code,waterpoint_code
0,1390,34.938093,-9.856322,109,True,False,1999,1,1,3,11,10,1,1,7,6,1,8,1
1,1399,34.698766,-2.147466,280,True,True,2010,1,0,9,11,10,4,1,11,6,2,5,1
2,686,37.460664,-3.821329,250,True,True,2009,1,1,8,11,16,5,1,7,6,1,0,2
3,263,38.486161,-11.155298,58,True,True,1986,0,0,12,16,10,7,10,7,6,0,3,2
4,0,31.130847,-1.825359,281,True,True,2000,1,0,4,11,10,4,1,1,6,3,5,1

In [99]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 19 columns):
gps_height           59400 non-null int64
longitude            59400 non-null float64
latitude             59400 non-null float64
population           59400 non-null int64
public_meeting       59400 non-null bool
permit               59400 non-null bool
construction_year    59400 non-null int64
status_code          59400 non-null int32
payment_value        59400 non-null int32
region_number        59400 non-null int32
funder_code          59400 non-null int32
installer_code       59400 non-null int32
basin_code           59400 non-null int32
extraction_code      59400 non-null int32
management_code      59400 non-null int32
quality_code         59400 non-null int32
quantity_code        59400 non-null int32
source_code          59400 non-null int32
waterpoint_code      59400 non-null int32
dtypes: bool(2), float64(2), int32(12), int64(3)
memory usage: 5.1 MB

In [100]:
df_train.describe()

,gps_height,longitude,latitude,population,construction_year,status_code,payment_value,region_number,funder_code,installer_code,basin_code,extraction_code,management_code,quality_code,quantity_code,source_code,waterpoint_code
count,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,668.297239,35.149679,-5.706033e+00,281.055791,1997.925202,0.615758,0.573266,9.835606,10.042205,7.323300,4.077172,3.936549,7.275741,5.754293,1.325758,6.063199,2.574091
std,693.116350,2.567349,2.946019e+00,451.765815,10.179591,0.486420,0.494607,5.936892,4.620804,4.123956,2.473082,3.527073,2.045373,0.900820,0.803750,2.034190,1.781438
min,-90.000000,29.607122,-1.164944e+01,1.000000,1960.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,33.354079,-8.540621e+00,100.000000,1996.000000,0.000000,0.000000,4.000000,6.000000,3.000000,2.000000,1.000000,7.000000,6.000000,1.000000,5.000000,1.000000
50%,369.000000,35.150000,-5.021597e+00,281.000000,2000.000000,1.000000,1.000000,10.000000,11.000000,10.000000,4.000000,2.000000,7.000000,6.000000,1.000000,7.000000,2.000000
75%,1319.250000,37.178387,-3.326156e+00,281.000000,2004.000000,1.000000,1.000000,15.000000,11.000000,10.000000,6.000000,6.000000,7.000000,6.000000,2.000000,8.000000,4.000000
max,2770.000000,40.345193,-2.000000e-08,30500.000000,2013.000000,1.000000,1.000000,20.000000,20.000000,16.000000,8.000000,12.000000,11.000000,7.000000,4.000000,9.000000,6.000000

In [103]:
df_train.status_code.value_counts()

1    36576
0    22824
Name: status_code, dtype: int64

In [104]:
df_train.corr()

,gps_height,longitude,latitude,population,public_meeting,permit,construction_year,status_code,payment_value,region_number,funder_code,installer_code,basin_code,extraction_code,management_code,quality_code,quantity_code,source_code,waterpoint_code
gps_height,1.000000,-0.021153,-0.035751,-0.032337,0.037207,0.091959,-0.102682,0.106942,0.176738,-0.323833,-0.087352,-0.023499,-0.161768,-0.261342,-0.037572,0.140459,-0.030781,0.121495,-0.236758
longitude,-0.021153,1.000000,-0.280284,-0.078553,0.022080,-0.002248,-0.043843,-0.026951,0.036926,0.013440,-0.016710,0.063363,0.530505,0.145848,-0.110978,-0.055489,0.001587,-0.050667,-0.122642
latitude,-0.035751,-0.280284,1.000000,0.035497,0.009084,0.070615,0.065456,0.027984,-0.110821,-0.025485,0.032099,-0.028946,-0.218502,-0.000162,0.048213,-0.010955,0.117193,0.024544,0.160127
population,-0.032337,-0.078553,0.035497,1.000000,-0.002387,-0.060359,0.030969,0.014791,-0.014172,0.031226,0.011725,0.023766,-0.019481,0.071910,-0.010196,-0.042023,0.028223,-0.083217,0.077827
public_meeting,0.037207,0.022080,0.009084,-0.002387,1.000000,0.117993,0.025936,0.061728,0.083786,-0.087124,0.004300,-0.021649,0.022203,-0.062877,0.121557,0.037705,-0.061876,0.044445,-0.069937
permit,0.091959,-0.002248,0.070615,-0.060359,0.117993,1.000000,-0.051966,0.030816,-0.001078,-0.035763,-0.044144,0.035754,0.016919,-0.115628,-0.073165,0.025425,-0.027427,0.075342,-0.142499
construction_year,-0.102682,-0.043843,0.065456,0.030969,0.025936,-0.051966,1.000000,0.212734,0.067734,-0.059963,0.180841,0.123278,-0.059500,0.049168,0.006401,-0.037342,0.041826,-0.030957,-0.020144
status_code,0.106942,-0.026951,0.027984,0.014791,0.061728,0.030816,0.212734,1.000000,0.162500,-0.091277,0.055587,0.031892,-0.050699,-0.127814,0.068727,0.005762,0.147274,0.105361,-0.213829
payment_value,0.176738,0.036926,-0.110821,-0.014172,0.083786,-0.001078,0.067734,0.162500,1.000000,-0.094387,-0.008553,0.002088,0.031589,-0.010522,0.102702,0.034642,-0.016757,-0.075449,-0.169687
region_number,-0.323833,0.013440,-0.025485,0.031226,-0.087124,-0.035763,-0.059963,-0.091277,-0.094387,1.000000,0.020868,0.049432,-0.114880,0.233877,0.076552,-0.073382,0.034766,-0.156225,0.279421
funder_code,-0.087352,-0.016710,0.032099,0.011725,0.004300,-0.044144,0.180841,0.055587,-0.008553,0.020868,1.000000,0.519695,-0.066497,0.058747,-0.010959,-0.058225,0.061423,-0.152729,0.035488
installer_code,-0.023499,0.063363,-0.028946,0.023766,-0.021649,0.035754,0.123278,0.031892,0.002088,0.049432,0.519695,1.000000,-0.001845,0.078905,-0.078720,0.006089,0.076172,-0.145173,-0.015397
basin_code,-0.161768,0.530505,-0.218502,-0.019481,0.022203,0.016919,-0.059500,-0.050699,0.031589,-0.114880,-0.066497,-0.001845,1.000000,0.189307,-0.061139,-0.075529,-0.026707,-0.061457,0.009864
extraction_code,-0.261342,0.145848,-0.000162,0.071910,-0.062877,-0.115628,0.049168,-0.127814,-0.010522,0.233877,0.058747,0.078905,0.189307,1.000000,0.019687,-0.110203,-0.011712,-0.361300,0.320202
management_code,-0.037572,-0.110978,0.048213,-0.010196,0.121557,-0.073165,0.006401,0.068727,0.102702,0.076552,-0.010959,-0.078720,-0.061139,0.019687,1.000000,-0.047692,-0.071967,0.096661,0.104846
quality_code,0.140459,-0.055489,-0.010955,-0.042023,0.037705,0.025425,-0.037342,0.005762,0.034642,-0.073382,-0.058225,0.006089,-0.075529,-0.110203,-0.047692,1.000000,-0.031869,0.083627,-0.162096
quantity_code,-0.030781,0.001587,0.117193,0.028223,-0.061876,-0.027427,0.041826,0.147274,-0.016757,0.034766,0.061423,0.076172,-0.026707,-0.011712,-0.071967,-0.031869,1.000000,-0.004138,0.006436
source_code,0.121495,-0.050667,0.024544,-0.083217,0.044445,0.075342,-0.030957,0.105361,-0.075449,-0.156225,-0.152729,-0.145173,-0.061457,-0.361300,0.096661,0.083627,-0.004138,1.000000,-0.013617
waterpoint_code,-0.236758,-0.122642,0.160127,0.077827,-0.069937,-0.142499,-0.020144,-0.213829,-0.169687,0.279421,0.035488,-0.015397,0.009864,0.320202,0.104846,-0.162096,0.006436,-0.013617,1.000000

In [105]:
df_train.to_csv('num_cols.csv')

In [106]:
df.to_csv('num_cat_cols.csv')